<style>
.progress-vertical {
position: relative;
width: 40px;
min-height: 240px;
float: left;
margin-right: 20px; 
margin-left: 2px;
}

.progress-vertical .bar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.progress-vertical .bar span {
    position: absolute;
bottom: 0px;
left: 0;
width: 100%;
}


</style>

<div id="MainView" style="display:none">
    <div id="unassigned-load" class="well">
        <div class="remaining-issues">
            <div id="remaining-unassigned" class="">Issues to assing: <span class='unassigned'></span> of <span class='total'></span></div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
        </div>
        <div class="remaining-points">
            <div id="remaining-unassigned" class="">Overal points: </div>
            <div id="overal-points" class="">Overal points: </div>
        </div>     
    </div>
    <div id="resources-load" class="well">
<!--         <div id="" class="resource" resource-name="sebastian.gramano">
        <div style="display:table">
            <div class="avatar" style="background: url(https://www.mulesoft.org/jira/secure/useravatar?ownerId=sebastian.gramano&amp;avatarId=11733)">
            </div>
            <div class="progress progress-vertical progress-success">
                <div class="bar progress-bar" style="width: 100%; height:70%;bottom: 0px;position: absolute;"></div>
            </div>
        </div>
            <div class="info">
                <div class="name">Sebastian Gramano</div>
            </div>
        </div>
        <div id="" class="resource" resource-name="dario.carabajal">
        <div style="display:table">
            <div class="avatar" style="background: url(https://www.mulesoft.org/jira/secure/useravatar?ownerId=sebastian.gramano&amp;avatarId=11733)">
            </div>
            <div class="progress progress-vertical progress-success">
                <div class="bar progress-bar" style="width: 100%; height:70%;bottom: 0px;position: absolute;"></div>
            </div>
        </div>
            <div class="info">
                <div class="name">Dario CArabajal</div>
            </div>
        </div> -->
    </div>
</div>